/* styles.css */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background: #111111;
    color: #D9D9D9; 
    padding: 2rem;
}

#links {
    color: #C4C4C4;
    list-style-type: none;
}
/* Remove dots from unordered lists */
ul {
    list-style-type: none; /* Removes bullet points */
}

a {
    color: #C4C4C4; /* Change this to your desired color */
    text-decoration: none; /* Optional: removes underline from links */
}

/* Color when hovering over the anchor tag */
a:hover {
    color: #e74c3c; /* Change this to your desired hover color */
}

#about {
    color: #CACACA
}

#contact {
    color: #FFF
}